<h1>Notice Details</h1>

<br />

<form class="notice-form" #noticeForm="ngForm">
  <div class="form-group">
      <label>Date Posted: </label><br/>
      <input id="date-notice-posted" name="datePosted" [(ngModel)]="datePosted" required />
  </div>
  
  <div class="form-group">
    <label>Detail: </label>
    <textarea class="form-control" type="text" rows="15" id="notice-detail" name="detail" [(ngModel)]="detail" required></textarea>
  </div>

  <table>
    <tr>
      <td>
        <button id="edit-notice-button" [disabled]="!noticeForm.form.valid || !noticeForm.form.dirty"
                (click)="saveNotice()" class="btn btn-primary">
          {{id > 0 ? 'Save' : 'Create'}}
        </button>
      </td>
      <td>&nbsp;</td>
      <td>
        <button *ngIf="id > 0" id="delete-notice-button" 
                (click)="deleteNotice()" class="btn btn-primary">Delete</button>
      </td>
      <td *ngIf="id > 0">&nbsp;</td>
      <td>
        <button id="cancel-notice-button" 
                routerLink="/{{hub}}/notices" class="btn btn-primary">Cancel</button>
      </td>
    </tr>
  </table>

</form>
