<h1>{{ title }}</h1>

<div class="spacer">&nbsp;</div>

<div>
  <table [style.width.%]="75">
    <tr>
      <td align="center">
        <a href="/activity-client/ActivityHub">
          <img data-toggle="tooltip" id="activityhub-option" 
               src="assets/images/aquila_bird_purple.png" 
               title="Activity Hub">
        </a>
      </td>
      <td align="center">
          <a href="/activity-client/TaskHub">
            <img data-toggle="tooltip" id="taskhub-option" 
                 src="assets/images/aquila_bird_blue.png" 
                 title="Task Hub">
          </a>
      </td>
      <td align="center">
          <a href="/activity-client/InfoHub">
            <img data-toggle="tooltip" id="infohub-option" 
                 src="assets/images/aquila_bird_yellow.png" 
                 title="Info Hub">
          </a>
      </td>
    </tr>
    <tr>
      <td class="caption" align="center">Activity Hub</td>
      <td class="caption" align="center">Task Hub</td>
      <td class="caption" align="center">Info Hub</td>
    </tr>
  </table>
</div>