<h1>Projects</h1>

<div>

    <table class="table table-sm">
      <thead>
        <tr><th>ID</th><th>Name</th><th>View</th><th>Group</th><th>Tasks</th></tr>
      </thead>
      <tbody>
        <tr valign="top" *ngFor="let project of projects">
          <td style="width: 50px;">
              <p class="table-data"><a routerLink="/{{hub}}/projects/{{project.identifier}}/edit">
                {{ project.identifier }}</a> 
              </p>
            </td>
          <td style="width: 220px;">
            <p class="table-data"><a routerLink="/{{hub}}/projects/{{project.identifier}}/edit">
              {{ project.name }}</a> 
            </p>
          </td>
          <td style="width: 75px;"><p class="table-data">{{ project.view }}</p></td>
          <td style="width: 75px;"><p class="table-data">{{ project.group }}</p></td>
          <td>

            <!-- Tasks -->
            <span id="{{project.name}}Toggle" (click)="toggleTasksDisplay(project.name)"> ...</span>
            <table class="table table-sm" id="{{project.name}}Tasks" style="display: none;">
              <thead>
                <tr><th>Category</th><th>Name</th></tr>
              </thead>
              <tbody>
              <tr *ngFor="let task of project.tasks">
                <td class="task-category-{{ task.categoryEnum.key }}">{{task.categoryEnum.value}}</td>
                <td class="link">
                  &nbsp;<a routerLink="/{{hub}}/projects/{{ project.identifier }}/tasks/{{ task.identifier }}/edit" 
                          class="task-status-{{ task.status.key }}">{{ task.name }}</a>
                </td>
              </tr>
              <tr>
                <td>
                  <button id="create-task-button" 
                          routerLink="/{{hub}}/projects/{{ project.identifier }}/tasks/-1/edit" 
                          class="btn btn-primary">New Task</button>
                </td>
                <td>&nbsp;</td>
              </tr>
              </tbody>
            </table>

          </td>
        </tr>

      </tbody>
    </table>
    
    <table>
      <tbody>
        <tr><td>&nbsp;</td></tr>
        <tr>
          <td>
            <button id="create-project-button" 
                    routerLink="/{{hub}}/projects/-1/edit" 
                    class="btn btn-primary">New Project</button>
          </td>
        </tr>
      </tbody>
    </table>

</div>
